

@{
    var filename = "gitignore.txt"; // get it from db
    var filepath = "~/myfiles/" + filename;
}

<a href="@Url.Content(filepath)">Click to access the file</a>

<img src="@Url.Content(filepath)" />


@* @ViewContext.HttpContext.Request.Query[""] *@

<a asp-controller="User" asp-action="Profile" asp-route-id="2">click to retrive for 2</a>